@import './colors/function.scss';

.generalNavBar {
    position: fixed; right: 1rem; top: 1rem; display: flex; gap: 1.5rem; align-items: center; z-index: 1000;
    .nav-linkContainer {
        display: flex; gap: 1.5rem; transform: scale(0); transition: .3s; transform-origin: right;
        .nav-link { font-size: 1.2rem; letter-spacing: .25rem; text-decoration: none; color: getColor("text"); font-family: sans-serif; text-shadow: 0 0 5px getColor("shadow-dark"); @media (max-width: 1000px) { letter-spacing: .1rem; }}
    }
    &.active {
        .nav-linkContainer { transform: scale(1) }
        .buttonContainer {
            .button {
                &.open { display: none; }
                &.close { display: flex; }
            }
        }
    }
    &:not(.active) {
        .buttonContainer {
            .button {
                &.close { display: none; }
                &.open { display: flex; }
            }
        }
    }
    @media (max-width: 800px) {
        align-items: self-start; gap: 0;
        .nav-linkContainer { flex-direction: column; text-align: center; padding: 1rem; background: getColor("menu-soft"); border-radius: 1rem; margin-top: 3.5rem; transform-origin: right top; backdrop-filter: blur(2px); }
    }
    .buttonContainer {
        display: flex; justify-content: center; align-items: center; padding: 1.5rem; cursor: pointer; border-radius: 50%; background: getColor("background"); box-shadow: 0 0 5px 1px getColor("shadow-light");
        .button { font-size: 1.5rem; color: getColor("text"); position: absolute; animation: spin .5s forwards; }
    }
}
@keyframes spin {
    from { rotate: -360deg }
    to { rotate: 0 }
}